# Unity project temp files
Assets/Editor Default Resources
Assets/ExternalDependencyManager
Assets/Firebase/Editor
Assets/Firebase/m2repository
Assets/Firebase/Plugins
Assets/Firebase/Sample/GuiSkin.guiskin
Assets/Plugins
Assets/StreamingAssets
Library/
Logs/
Packages/
ProjectSettings/GvhProjectSettings.xml
Temp/

Assembly-CSharp.csproj
testapp.sln
*.meta
google-services.json
GoogleService-Info.plist